titanium.platform=/Users/<username>/Library/Application Support/Titanium/mobilesdk/osx/4.1.1.GA/android
android.platform=/Users/<username>/AndroidSDK/sdk/platforms/android-21
google.apis=/Users/<username>/AndroidSDK/sdk/add-ons/addon-google_apis-google-21
android.ndk=/Users/<username>/AndroidSDK/ndk/